﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <title>Hello Excel 2016</title>
    <!-- Office UI Fabric -->
    <link rel="stylesheet" href="//appsforoffice.microsoft.com/fabric/1.0/fabric.min.css">
    <link rel="stylesheet" href="//appsforoffice.microsoft.com/fabric/1.0/fabric.components.min.css">
    <!-- Other style sheets -->

    <link href="../../Content/Office.css" rel="stylesheet" />
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/1.0.7/angular-material.min.css">
    <link href="../App.css" rel="stylesheet" />
    <link href="../../Scripts/spinner/treasure-overlay-spinner.min.css" rel="stylesheet" />
</head>
<body>
    <!-- UI -->
    <div data-ng-controller="mainCtrl" layout="colum" ng-cloak>
        <treasure-overlay-spinner active='spinner.active'>
            <md-content layout-padding>
                <form name="excelTransForm" novalidate>
                    <div layout="row">
                        <md-switch ng-model="data.hasColumnHeader" aria-label="Has Column Header"
                                   class="md-warn" ng-click="getRange('range')">
                            Has Column Header
                        </md-switch>

                    </div>
                    <div layout="row">
                        <md-switch ng-model="data.hasRowId" aria-label="Has RowID"
                                   class="md-warn" ng-click="getRange('range')">
                            Has RowID
                        </md-switch>

                    </div>

                    <div layout="row">
                        <md-input-container class="md-block" >
                            <label>Range</label>
                            <input ng-disabled="true" md-no-asterisk name="range" ng-model="data.range" required class="input-width">
                            <div ng-messages="excelTransForm.range.$error" ng-if="excelTransForm.range.$dirty || isSubmit">
                                <div ng-message="required" 
                                     ng-if="excelTransForm.range.$error.required">This is required.</div>
                            </div>
                            
                            

                        </md-input-container>
                        <md-button class="md-fab md-mini md-fab-icon" aria-label="Fill" ng-click="getRange('range')">
                            <md-icon md-svg-src="" style="color: greenyellow;"></md-icon>
                            <img src="../../Images/cellicon.png" width="20" class="plus-img" />
                        </md-button>
                    </div>
                    <div layout="row">
                        <md-input-container class="md-block" >
                            <label>Key Columns</label>
                            <input md-no-asterisk name="keyColumns" ng-model="data.keyColumns"
                                   ng-pattern="/^[0-9]+$/" type="number" min="1" required class="input-width">
                            
                            <div 
                                 ng-messages="excelTransForm.keyColumns.$error" ng-if="excelTransForm.keyColumns.$dirty || isSubmit">
                                <div ng-message="required"
                                     ng-if="excelTransForm.keyColumns.$error.required">This is required, only numbers starting from 1 allowed</div>
                                <div ng-message="pattern" ng-if="excelTransForm.keyColumns.$error.pattern">No floating point numbers allowed</div>
                            </div>
                        </md-input-container>

                    </div>
                    <div layout="row">
                        <md-input-container class="md-block">
                            <label>Value Columns</label>
                            <input md-no-asterisk name="valueColumns" ng-model="data.valueColumns"
                                   type="number" min="1" required class="input-width">
                            <!--ng-show="excelTransForm.valueColumns.$invalid && (!excelTransForm.valueColumns.$pristine || isSubmit )"-->
                            <div 
                                 ng-messages="excelTransForm.valueColumns.$error" ng-if="excelTransForm.valueColumns.$dirty || isSubmit">
                                <div ng-message="required" 
                                     ng-if="excelTransForm.valueColumns.$error.required">This is required, only numbers starting from 1 allowed</div>
                                <div ng-message="pattern" ng-if="excelTransForm.valueColumns.$error.pattern">No floating point numbers allowed</div>

                            </div>
                        </md-input-container>

                    </div>
                    <div class="ms-Grid-col ms-u-md6">
                        <md-button class="md-warn md-raised" data-ng-click="save(excelTransForm)">
                            <!--// ng-disabled="excelTransForm.$invalid" >-->
                            Save
                        </md-button>
                    </div>
                    <div class="ms-Grid-col ms-u-md6">
                        <md-button class="md-warn md-raised" data-ng-click="clear()">
                            Clear
                        </md-button>
                    </div>
                </form>
            </md-content>

            <div class="ms-Grid-row" data-ng-repeat="cell in cells">
                <div class="ms-Grid-col ms-u-md4">
                    {{cell.col}}
                </div>
                <div class="ms-Grid-col ms-u-md4">
                    {{cell.row}}
                </div>
                <div class="ms-Grid-col ms-u-md4">
                    {{cell.value}}
                </div>
            </div>

        </treasure-overlay-spinner>
    </div>
    <!-- third-party libs -->
    <!--<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>-->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="//secure.aadcdn.microsoftonline-p.com/lib/1.0.0/js/adal.min.js"></script>
    <script src="//secure.aadcdn.microsoftonline-p.com/lib/1.0.0/js/adal-angular.min.js"></script>
    <script src="//appsforoffice.microsoft.com/lib/1/hosted/office.js" type="text/javascript"></script>


    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-animate.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-aria.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-messages.min.js"></script>

    <!-- Angular Material Library -->
    <script src="//ajax.googleapis.com/ajax/libs/angular_material/1.0.7/angular-material.min.js"></script>
    <script src="../../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-animate.js"></script>
    <script src="../../Scripts/spinner/treasure-overlay-spinner.min.js"></script>
    <!-- custom code -->
    <script src="../App.js"></script>

    <script src="Home.js"></script>
</body>
</html>
